

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles Started */
.display-flex{
  display: flex;
}

/* Dark-02*/
.text-gray{
  color: #424242;
}

/* Dark-03 */
.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  font-weight: 600px;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
}



/* Shared Styles Ended */


/* Header Section Styles Started*/

/* Header Section Styles Ended*/
/* Navigation Section Styles Started */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 2.8rem;
  font-weight: 700;
}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0px auto;
}


/* Navigation Section Styles Ended */
/* Banner Section Styles Started */
.banner-content{
  max-width: 850px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-image{
  width: 100%;
}

.banner-title{
  font-weight: 400px;
  font-size: 4rem;
}

/* Banner Section Styles Ended */
/* Main Section Styles Started */
main{
  max-width: 1440px;
  margin: 0px auto;
}

main > section{
  margin-top: 130px;
}

/* Main Section Styles Ended */
/* Teams Section Styles Started */

.teams-section{
  justify-content: space-between;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.team-feature-container{
  margin-left: 130px;
  max-width: 530px;
}

.feature-title{
  font-size: 2.8rem;
  font-weight: 700;
}

.feature-color-01{
  font-weight: 500px;
  color: #727272;
}

.feature-color-03{
  color: #ff900e;
}


/* Teams Section Styles Ended */


/* Responsive Media Query apply */

/* Apply Media Query for small device */
@media screen and (max-width: 576px){
  .navbar,
  .nav-links,
  .teams-section{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-feature-container{
    margin-left: 30px;
  }
}

/* Appply Media Query for Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px){
  .navbar,
  .teams-section{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat();
  }
  .team-feature-container{
    margin-left: 30px;
  }
}


/* Appply Media Query for Medium Device */

